/*FORMULARIO*/
.container {
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  font-size: 25px;
  border-radius: 15px;
  padding: 20px;
  margin: auto;
  background-color: rgba(109, 161, 141, 0.87);
}

.container h1 {
  text-align: center;
  margin: auto;
}

.form {
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
  border-bottom: 3px solid #fff;

  padding: 25px;
}

.input_group {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
}

.input_box {
  padding: 0 10px;
}

.input_box input,
select {
  height: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
  padding: 2px 15px 2px 5px;
}

.input_box label {
  height: 100%;
  border: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0 10px 0 5px;
}

.btn_add {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn_add input {
  background-color: rgb(248, 232, 4);
  border-radius: 15px;
  box-shadow: rgba(160, 138, 12, 0.863);
  color: #000000;
  cursor: pointer;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 18px;
  user-select: none;
  touch-action: manipulation;
  font-weight: bold;
}

.btn_add input:hover {
  background-color: rgb(255, 251, 0);
}

/* TAREFAS RENDERIZADAS*/

.todos {
  padding: 2em 2em;
  display: flex;
  font-weight: 600;
}

.todos table {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(235, 181, 4);
  text-align: justify;
  border-radius: 15px;
}

.todos table,
th,
td {
  border: 1px solid black;
  border-radius: 5px;
}

.todos th,
td {
  padding: 0px 10px 0px 10px;
}

.todos th {
  background-color: rgb(255, 174, 0);
}

.todos td {
  background-color: rgb(248, 232, 232);
  color: black;
  height: 2em;
}

.actions {
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 20px;
  color: black;
  margin-left: 15px;
}

.category,
.priority,
.actions {
  text-align: center;
}

.tarefa,
.cat,
.pri {
  text-align: center;
}

.tarefa {
  width: 70%;
  text-align: center;
}
